.authPageContainer {
    width: 100%;
    height: 100%;
    padding-top: 3rem;;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.authTitle {
    font-size: 2.25rem;
    font-weight: bold;
}

.authBtnContainer {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.authBtn {
    width: 95%;
    border: none;
    height: 2.35rem;
    background-color: #47a9ff;
}

.authBtn:hover {
    width: 95%;
    height: 2.35rem;
    cursor: pointer;
    border: 2px solid black;
}

.authBtnLink {
    text-decoration: none;
    color: black;
}

.authInputError {
    border: 2px solid red;
}

.signUpPageContainer {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.signUpForm {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    width: 100%;
    min-height: 5rem;
}

.inputSecondaryInfo {
    color: gray;
    font-size: .95rem;
}

.signUpInput {
    width: 95%;
    height: 2rem;
}

.signUpBtn {
    width: 95%;
    height: 2.35rem;
    margin-top: 1rem;
    background-color: #47a9ff;
    border: none;
}

.signUpBtn:hover {
    width: 95%;
    height: 2.35rem;
    margin-top: 1rem;
    background-color: #47a9ff;
    border: 2px solid black;
    cursor: pointer;
}

.formError {
    color: red;
    text-align: center;
}

.signInForm {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.signInInput {
    width: 97%;
    height: 2rem;
}